/* == Imports == */
@import url("reset.css");

/* == Generic == */
body {font:62.5% Verdana, Arial, sans-serif; color:#222; background-color:#D5D2B8;border-top:40px solid #868D4A;}

	/* -- Headings -- */
	#site-title {color:#fafafa;font-size:3em;clear:both;}
		#site-title a {color:#fafafa;text-decoration:none;float:left;padding:.5em 0 10px 10px;}
		#site-title a:hover {text-decoration:none;}
	h1 {font-size:2.3em;color:#868D4A;margin-bottom:10px;}
	h2 {font-size:2em;padding:0;}
	h3 {font-size:1.6em;}
	h4 {}
	h5 {}
	h6 {}

	/* -- Misc Block elements -- */
	p, ul, ol {font-size:1.2em;padding-bottom:5px;line-height:1.35em;}
	    ol {list-style:decimal inside;}
	dl {}
	li {}
	
	/* -- Misc Inline elements -- */
	img {}
	input {margin-top:5px;}
	
	em {font-style:italic;}
	strong {font-weight:bold;}

	/* -- Links -- */
	a {color:#868D4A;text-decoration:none;}
	a:visited {}
	a:hover {text-decoration:underline;}
	a:active {}
	
	.view-items-link {}
	
	/* -- Body Classes -- */
	.browse {}
	.item {}
	.show {}
	.summary {}
	.tags {}
	
	/* -- Misc Classes */
	.view-items-link {float:right;margin-top:.5em;}
	
	.exhibit-thumbnail {float:left;padding:0 10px 0 0;}
	.odd .exhibit-thumbnail {float:left;padding:0 10px 0 0;}
	.even .exhibit-thumbnail {float:right;padding:0 0px 0 10px;}


	.image {} /* items/browse  */
	
	.description {}
	
	.even {}
	.odd {}
	
	.center-div {width:800px;margin:auto;border-left:2px solid #FFF;border-right:2px solid #FFF;}
	
		/* Navigation Classes*/
		ul.navigation, ul.pagination_list {font-size:1.3em;}
		
		/* Pagination Classes */
		 .pagination {margin:0;float:left;clear:both;border-bottom:1px #d3d6bc solid;width:100%;}
		 .pagination li {padding:.5em 0 .5em .5em;float:left;}
		 .pagination a {color:#686C42;}
		 .pagination a:hover {color:#868D4A;text-decoration:none;}
		 .pagination li.current a {font-weight:bold;}
		 .pagination a.current {font-weight:bold;}
		
		.next {} 
		.previous {} 
	
		/* Items Classes*/
		.item-file img {float:left;padding-right:10px;}
		.browse-items-link {}
		
		.featured {}
		
		.element {overflow:hidden;clear:both;padding:5px 0;}
		.element-text {font-size:1.2em;padding-bottom:5px;line-height:1.35em;}
		.element-text p, .element-text li, .element-text ul, .element-text ol {font-size:1em;}
		
		.item {}
		.item-description {}
		.item-img {float:left;padding-right:10px;}
		.items-list {}
		.item-meta
		.items-nav
		.item-pagination {}
		.item-tags {}
		.item-thumbnail {}
		.item-title {}
		
		.title-list {clear:both;}
		
	
		/* Collections Classes */
		.collection {padding:10px 20px 10px 20px;overflow:hidden;border-bottom:1px #d3d6bc solid;clear:both;}
		.collection {}
		.collection-description {}
	
		/* Exhibits Classes */
		.exhibit {padding:10px 20px 10px 20px;overflow:hidden;border-bottom:1px #d3d6bc solid;clear:both;}
		.exhibit-item img {width:150px;height:150px;float:left;padding:0 0px 30px 36px;}
		.exhibit-description {}
		.exhibit-tags {}
	
		/* Microformats Classes */
		.hentry {}
		
		/* Search Classes */
		.no-results {}
		
		/* Tags Classes */
		.tags {}

		/* Tag Clouds */
		.hTagcloud ul {list-style:none;padding:10px 20px 10px 20px;}
			.hTagcloud li {display:inline;}

			.popular a {font-size:120%;}
			.v-popular a {font-size:140%;}
			.vv-popular a {font-size:180%;}
			.vvv-popular a {font-size:220%;}
			.vvvv-popular a {font-size:260%;}
			.vvvvv-popular a {font-size:300%;}
			.vvvvvv-popular a {font-size:320%;}
			.vvvvvvv-popular a {font-size:340%;}
			.vvvvvvvv-popular a {font-size:360%;}


/* == Wrap == */
#wrap {}

/* == Header == */
#header {border-bottom:2px solid #FFF;border-top:2px solid #FFF;background:#444;}
#header .center-div {background-color:#333;overflow:hidden;}

div#search-wrap {float:right;padding:0 .55em 0 0;}
div#search-wrap a {margin-top:.5em;float:right;}

/* == Content == */

	/* Structure */
	#content {background:#fff;padding:15px 0 15px 0;overflow:hidden;}
		#primary {width:774px;margin:auto;float:none;padding:0;clear:right;}
		#secondary {float:left;margin-left:15px;width:220px;margin-top:.5em;background:#D3D6BD;padding:5px;}
		#tertiary {width:784px;margin:auto;float:none;padding:0;clear:both;}
		#tertiary img {display:block;margin:auto;padding:10px 0;}
		
	/* General */
	#login-status {float:right;color:#D5D2B8;padding:10px .55em 0 0;}
	#objects {}
	
	#featured-item {margin-bottom:20px;overflow:hidden;}
	#featured-item h3 {margin-bottom:5px;}
	#featured-item .image {float:left;padding-right:10px;}
	
	#featured-collection {clear:both;overflow:hidden;}
	
	#pagination-top {}
	#pagination-bottom {}
		
	/* Navigation */
	#primary-nav {padding-top:5px;overflow:hidden;float:left;}
	#primary-nav ul {margin:0;font-size:1.3em; line-height:1em;}
	#primary-nav li { display:block; float:left; }
	#primary-nav a {color:#868D4A; display:block; float:left;padding:1px .55em .2em .5em;}
	#primary-nav li.current a {}
	#primary-nav li.nav-about a {}
	

	
	 #secondary-nav {border-top:1px #d3d6bc solid;width:100%;}
	 ul#secondary-nav {margin:0;float:left;}
	 #secondary-nav li {padding:.5em 0 .5em .5em;float:left;}
	 #secondary-nav a {color:#686C42;}
	 #secondary-nav a:hover {color:#868D4A;text-decoration:none;}
	 #secondary-nav li.current a {font-weight:bold;}
	 #secondary-nav a.current {font-weight:bold;}
	
	.tertiary-nav {}
	ul.tertiary-nav {}
	.tertiary-nav li {padding:.25em 0 0 1.5em;}
	.tertiary-nav a {}
	.tertiary-nav a:hover {}
	.tertiary-nav li.current a {}
	
		
	/* Home Page */
	#home #primary {width:520px;padding:0 15px 0 15px;float:right;}
	
	#recent-items {padding:10px;overflow:hidden;}
	#recent-items .item {margin-bottom:10px;}
	#recent-items .item-description {font-size:1.2em;line-height:1.35em;}
	#recent-items .item-description p {font-size:1em;}
	#recent-items .item-description a.show {margin-left:5px;}
	
	#featured-collection {}
	
	/* Forum Page */
	#forum #primary {float:none;}


	/* Items Pages */	
	#items.browse .item {padding:10px;overflow:hidden;border-bottom:1px #d3d6bc solid;clear:both;}
	#items.browse .item-description {margin-top:3px;font-size:1.2em;line-height:1.35em;}
	#items.browse .item-description p, #items.browse .item-description li {font-size:1em;}
	
	#items.show h2 {display:none;}
	
	ul h3 {font-size:1.6em;}
	
	#items.browse .tags {margin-top:3px;}
	
	#backlink {float:right;font-size:1.5em;display:block;padding-right:8px;}
	
	#extended-metadata {}
		#item-type {}

	#item-metadata {}
		#item-publisher {}
		#item-creator {}
		#item-description {}
		#item-relation {}
		#item-spatial-coverage {}
		#item-rights {}
		#item-source {}
		#item-subject {}
		#item-additional-creator {}
		#item-format {}
		#item-contributor {}
		#item-rights-holder {}
		#item-provenance {}
		#item-date {}
		#item-temporal-coverage {}
		#item-date-added {}
		#item-collection {}
		#item-files {}
		#item-tags {}
		#item-citation {}
		
	#next-item {}
	#previous-item {}
	
	/* Advanced Search */
    textarea {width:378px; height:312px;float:right;}
    legend {display:none;}
    fieldset {display:block; clear:both;}
    label {font-size:1.2em;}
    .label {font-size:1.2em;}
    .inputs {overflow:hidden;zoom:1;}
    .field {border-bottom:1px solid #d3d6bc; padding:0.75em 0; overflow:hidden; width:512px;}
    .field label {float:left; width: 114px;font-weight:normal;clear:left; }
    .field .label {float:left; width: 114px;font-weight:normal;clear:left; }
    .field .textinput, .field select {float:right; width: 378px;background:#fff;}
    .field select {width: 382px;}
    .field input {margin:0;margin-left:16px;}
    input.submitinput {margin-top:1em;}
    .radioinputs {display:block; margin-bottom:0.5em; overflow:hidden;}
    .radioinputs label {display:block; float:left; width: 48%; clear:none;}
    input#description {width: 378px; height: 312px;}
    .search-entry select {margin-bottom:.5em;}
    #submit_search_advanced {margin:.5em 0 1em 455px;}
    .advanced-search h1{margin-left:13px;}
	
	.no-results {margin:10px;}

	/* Exhibits Pages */
	#exhibit-show .primary {margin-bottom:1em;}
	#exhibit-show .secondary .item-file object {padding-left:100px;}
	
	.exhibit-section-nav {width:100%;}
	ul.exhibit-section-nav {margin-bottom:10px;;font-size:1.3em; line-height:1em;float:left;}
	.exhibit-section-nav li {padding:.5em 0 .5em .5em;float:left;}
	.exhibit-section-nav a {color:#686C42;}
	.exhibit-section-nav a:hover {color:#868D4A;text-decoration:none;}
	.exhibit-section-nav li.current a {font-weight:bold;}
	.exhibit-section-nav a.current {font-weight:bold;}
	
	.exhibit-page-nav {width:100%;}
	ul.exhibit-page-nav {margin-bottom:10px;;font-size:1.3em; line-height:1em;float:left;}
	.exhibit-page-nav li {padding:.5em 0 .5em .5em;float:left;}
	.exhibit-page-nav a {color:#686C42;}
	.exhibit-page-nav a:hover {color:#868D4A;text-decoration:none;}
	.exhibit-page-nav li.current a {font-weight:bold;}
	.exhibit-page-nav a.current {font-weight:bold;}
	
	.exhibit-text {clear:both;}
	
	#exhibit-nav {}
	#exhibit-summary {}
	#exhibit-show {}
	

	/* Collections Pages */	
	#collection-description {}
	#collectors {}
	

/* == Footer == */
#footer {clear:both;}
#footer .center-div {border-bottom:2px solid #FFF;background:#686C42;overflow:hidden;}
#footer ul {float:right;padding:5px;font-size:1.3em; line-height:1em;}
#footer li {display:block;float:left;padding-left:1.25em;}
#footer a {color:#D5D2B8;}
#footer p {color:#222;clear:both;float:right;padding:0 5px 5px;}