// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
// @import "mixins";


// Grid Units
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;
$break          : 50em 16;

// Typography
$base-font-size	: 12px;
$base-line-height : 18px;

//Colors
$olive          : #868D4A;
$sand           : #d3d6bc;