// Typography
$base-font-size	: 12px;
$base-line-height : 18px;

// Grid Units
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;
$break          : 50em 16;
$container-style: fluid;
$spacing-unit   : $base-line-height;

//Colors
$olive          : #868D4A;
$sand           : #d3d6bc;