// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
// @import "mixins";

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;
$break          : 50em 16;
$base-font-size	: 10px;