#site-title {
    width:50%;
    float: left;
    text-align: left;
    padding: $spacing-unit;
}

div#search-container {
    width: 25%;
    clear: none;
    margin: 1.25 * $spacing-unit 0 0 auto;
    padding-right: $spacing-unit;
}

.center-div {
    margin: 0 auto;
    max-width: 1100px;
}

#header .center-div {
    position: relative;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#primary-nav {
    overflow: visible;
    padding: 0;
    width: 100%;

    /* mega menu list */
    .nav-menu {
        display: block;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 15;
        width: 100%;
        background-color: #000;
        float: left;
    }

    /* a top level navigation item in the mega menu */
    .nav-item {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    /* first descendant link within a top level navigation item */
    .nav-item > a {
        position: relative;
        margin: 0 0 -1px 0;
        color: $sand;
        display:block;
        float:left;
        padding:10px;
    }

    .open a {
        color: $olive;
    }

    /* open state of first descendant link within a top level 
       navigation item */
    .nav-item > a.open {
        color: $olive;
        background-color: #fff;
        z-index: 1;
    }

    /* sub-navigation panel */
    .sub-nav {
        position: absolute;
        display: none;
        top: (2.125 * $spacing-unit);
        margin-top: -1px;
        padding: 0.5em 1em;
        border: 1px solid #dedede;
        border-top: 0;
        background-color: #fff;
        z-index: 2;
    }

    /* sub-navigation panel open state */
    .sub-nav.open {
        display: block;
    }

    /* list of items within sub-navigation panel */
    .sub-nav ul {
        display: block;
        vertical-align: top;
        margin: 0 1em 0 0;
        padding: 0 0 0 1em;
    }

    /* list item within sub-navigation panel */
    .sub-nav li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .sub-nav a {
        padding: (.5 * $spacing-unit);
        display: block;
        position: relative;
        z-index: 2;
    }

    .mobile {
        display:none;
    }
}

#content {
     padding: $spacing-unit;
}

#home #content {

    & > div {
        width: 66.66%;
        margin-right: 0;
    }

    #recent-items {
        float:left;
        overflow:hidden;
        padding:.5em 0;
        width: 33.33%;
        margin-left: 0;
        background:#D3D6BD;
    }
}

.pagination {
    margin: (.5 * $spacing-unit) 0;
}

/*Search Results */

#footer {
    min-height:30px;
}

.featured,
#featured-exhibit {
    width: calc(66.66% - #{$spacing-unit});
    margin-right: $spacing-unit;
    float: left;
}

#recent-items {
    width: 33.33%;
    display: inline-block;
    padding: $spacing-unit;
}

#intro {width:800px/968px * 100%;}

/* Advanced Search */
.field {
    margin-bottom: $spacing-unit;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    label,
    .label,
    .two.columns {
        width: 25%;
        margin-bottom: $spacing-unit;
    }
    
    .inputs,
    .five.columns {
        width: 75%;
        margin-left: 0;
        vertical-align: top;
        
        & > *:only-child {
            width: 100%;
        }
    }

    .add_search {
        margin-left: 25%;
    }
}

.search-entry {
    margin-bottom: $spacing-unit;
    flex-wrap: nowrap;
}

#search-narrow-by-fields .advanced-search-joiner {
    width: 5em;
}

.pagination-nav {
    float: left;
}

#sort-links {
    text-align: right;

    span, ul {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    
    span, a {
        padding: (.75 * $spacing-unit) 0;
        margin: 0 0 0 1em;
    }
}
/* Items */

.item-description {clear:none}

/* Exhibits */

.exhibits.summary #primary,
.exhibits.show #content > h1:first-of-type,
#exhibit-blocks,
#exhibit-page-navigation {
    width: 75%;
    float: right;
    padding-left: $spacing-unit;
}


#exhibit-pages {
    width: 25%;
    display: inline-block;
}