/* == Generic == */
* {
    @include box-sizing(border-box);
}

body {
    font: $base-font-size Verdana, Arial, sans-serif; 
    line-height: $base-line-height;
    color:#222; 
    background-color:#D5D2B8;
}

#wrap {
    border-top: rhythm(2) solid $olive;
}

    /* -- Headings -- */
    #site-title {
        width: 100%;
        color: #fafafa;
        font-size: 2 * $base-font-size;
        line-height: 2 * $base-line-height;
        text-align: center;
        padding: rhythm(1, 2 * $base-font-size) 0;
        
        a {
            color: #fafafa;
            text-decoration: none;
        }
    }
    
    h1, h2, h3, h4 {
        margin: 0;
    }

    h1 {
        font-size: 2 * $base-font-size;
        line-height: 2 * $base-line-height;
        color: #868D4A;
        @include trailer(1, 2 * $base-font-size);
    }

    h2 {
        font-size: 1.75 * $base-font-size;
        line-height: 2 * $base-line-height;
        @include trailer(1, 1.75 * $base-font-size);
    }

    h3 {
        font-size: 1.5 * $base-font-size;
        @include trailer(1, 1.5 * $base-font-size);
    }

    i, em {
        font-style:italic;
    }
    
    b, strong {
        font-weight:bold;
    }

    /* -- Links -- */
    a {
        color:#868D4A;
        text-decoration:none;
    }

    a:hover {
        text-decoration:underline;
    }
    
    /* -- Form Elements -- */
    
    input,
    textarea,
    button {
        font-family: "Verdana", "Arial", sans-serif;
        font-size: $base-font-size;
        line-height: $base-line-height;
        padding: 0;
        border: 0;
        min-height: rhythm(1.5);
        padding: rhythm(.25);
    }
    
    input[type="submit"],
    .button,
    button {
        background-color: $olive;
        color: #fff;
        @include appearance(none);
        line-height: rhythm(1.5);
    }
    
    fieldset {
        border: 0;
        margin: 0;
    }

    /* -- Misc Classes */

    .exhibit-thumbnail {float:left;padding:0 10px 0 0;}
    .odd .exhibit-thumbnail {float:left;padding:0 10px 0 0;}
    .even .exhibit-thumbnail {float:right;padding:0 0px 0 10px;}

    .image {} /* items/browse  */

        /* Navigation Classes*/
        ul.navigation, ul.pagination, #sort-links ul, #sort-links span {
            padding: 0;
            list-style-type: none;
        }

        #sort-links span {line-height:1.35em}
    
        /* Pagination Classes */
          .pagination, #sort-links {clear:both;}
          .pagination {border-bottom:1px #d3d6bc solid;padding-bottom:.5em}
          #sort-links {padding-top:.5em}
          #sort-links-list {margin:0;float:left;margin-bottom:.5em}
         .pagination li, #sort-links-list li, .sort-label {float:left; padding-left:0.5em}
         li.pagination_next, li.pagination_previous {padding-top :0.6em}
         .pagination a, #sort-links-list a {color:#686C42;}
         .pagination a:hover, #sort-links-list a:hover {color:#868D4A;width:800px/968px * 100%;oration:none;}
         .pagination li.current a, #sort-links-list li.current a {font-weight:bold;}
         .pagination a.current, , #sort-links-list li.sorting {font-weight:bold;}
         .pagination input {width:1.5em; text-align:center;}

        /* Items Classes*/
        .item {
            border-color: $sand;
            @include trailing-border(1px, 1, $base-font-size, solid);
            @include trailer();
            overflow: hidden;
            
            p:last-child {
                @include trailer(0);
            }
        }
    
        .item img, .item-img {
            float:left;
            height: rhythm(3.5);
            width: auto;
            margin: 0 rhythm(.5) rhythm(.5) 0;
            border-color: rgba(0,0,0,.2);
            @include rhythm-borders(1px, 0, $base-font-size, solid);
            overflow: hidden;
        }
        
        .item-img img {
            margin: 0;
            border: 0;
        }
    
        .element {overflow:hidden;clear:both;padding:5px 0;}
        .element-text {font-size:1.2em;padding-bottom:5px;line-height:1.35em;}
        .element-text p, .element-text li, .element-text ul, .element-text ol {font-size:1em;}
    
        .title-list {clear:both;}

        /* Collections Classes */
        .collection {padding:10px 20px 10px 20px;overflow:hidden;border-bottom:1px #d3d6bc solid;clear:both;}

        /* Tag Clouds */
        .hTagcloud ul {list-style:none;padding:10px 20px 10px 20px;}
            .hTagcloud li {display:inline;line-height:2.5em;margin-right:.5em}

            .popular a {font-size:120%;}
            .v-popular a {font-size:140%;}
            .vv-popular a {font-size:180%;}
            .vvv-popular a {font-size:220%;}
            .vvvv-popular a {font-size:260%;}
            .vvvvv-popular a {font-size:300%;}
            .vvvvvv-popular a {font-size:320%;}
            .vvvvvvv-popular a {font-size:340%;}
            .vvvvvvvv-popular a {font-size:360%;}

/* == Header == */
#header {border-bottom:2px solid #FFF;border-top:2px solid #FFF;background:#444;}
#header .center-div {background-color:#333;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

#search-container,
#search-form {
    width:100%;
    clear:both;
    position: relative;
}

#search-form {
    @include trailer();
    
    #advanced-search,
    button {
        display: block;
        width: rhythm(1.5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        text-indent: -9999px;
        
        &:after {
            font-family: "FontAwesome";
            text-indent: 0;
            position: absolute;
            width: rhythm(1.5);
            height: rhythm(1.5);
            left: 0;
            top: 0;
            text-align: center;
        }
    }
    
    &.with-advanced button {
        right: rhythm(1.5);
    }
}

#query {
    width: 100%;
    padding-right: rhythm(1.5);
}

#advanced-search:after {
    content: "\2026";
}

#search-form button:after {
    content: "\f002";
}

#advanced-form {
    clear:both;
    background-color: #fff;
    overflow: auto;
    z-index: 1001;
    position: absolute;
    left: 0;
    border: 1px solid #e7e7e7;
    margin: 0;
    width: 100%;
    text-align: left;
    
    #query-types *:first-child {
        margin-top: 0;
    }
    
    label {
        margin: 0;
        padding: 0;
    }
    
    p {
        margin: rhythm(.5) 0;
        
        &:last-of-type { @include trailer(0); }
    }
}


/* == Content == */

    ul h3 {font-size:1.6em;}

    .tags {margin-top:3px;}

    #backlink {float:right;font-size:1.5em;display:block;padding-right:8px;}

    /* Structure */
    #content {
        background:#fff;
        padding-top:15px;
        padding-bottom:15px;
        overflow:hidden;
        @include pie-clearfix();

        & > div, nav {
            @include pie-clearfix();
        }
    }
    .center-div {width:800px/968px * 100%;margin:auto;border-left:2px solid #FFF;border-right:2px solid #FFF;padding-left:15px/800px * 100%;padding-right:15px/800px * 100%;}
    
    /* General */
    #login-status {float:right;color:#D5D2B8;padding:10px .55em 0 0;}

    /* Navigation */
    #primary-nav {
        clear:both;
        @include pie-clearfix;
        
        ul {
            display:none
        }
        select {
            width: 100%;
            display:block;
            @include trailer();
        }
    }



     .secondary-nav {border-top:1px #d3d6bc solid;width:100%;}
     .secondary-nav ul {margin:0;float:left;}
     .secondary-nav li {padding:.5em 0 .5em .5em;float:left;}
     .secondary-nav a {color:#686C42;}
     .secondary-nav a:hover {color:#868D4A;text-decoration:none;}
     .secondary-nav li.active a {font-weight:bold;}

    /* Home Page */

    #featured-item,
    #featured-collection,
    #featured-exhibit {
        border-color: $sand;
        @include trailing-border(1px, 1, $base-font-size, solid);
        @include trailer();
        
        *:last-child {
            @include trailer(0);
        }
    }
    
    #featured-item .item,
    #featured-collection .collection,
    #featured-exhibit .exhibit {
        @include trailing-border(0px, 0, $base-font-size, solid);
        padding: 0;
    }

    #recent-items {
        border:none;
        background-color: $sand;
        padding: rhythm(1) gutter();
        
        .item, .item img {
            border-color: $olive;
        }
    }

    #intro {
        width:100%;
        padding:10px 0;
    }

    /* Forum Page */
    #forum #primary {float:none;}



    /* Advanced Search */

    .search-entry select {margin-bottom:.5em;}
    #submit_search_advanced {width:10%;margin:.5em 0 1em 80%;}
    .no-results {margin:10px;}

    /* Search Results */
    #search-filters {margin-bottom:1em}
    #search-filters > ul > li {float:left;clear:left;margin-bottom:.75em}

    #search-results th {font-weight:bold}
    #search-results th, #search-results td {padding:0.75em 1em 0 0}



    /* Exhibits Pages */

    .exhibit {padding:10px 20px 10px 20px;overflow:hidden;border-bottom:1px #d3d6bc solid;clear:both;}

    .summary #exhibit-pages {border:none; border-top:1px #d3d6bc solid; padding-top:5px}
    .summary #exhibit-pages ul {margin:0}
    .summary #exhibit-pages ul ul {margin-left:10px}

    // .exhibit-section-nav {width:100%;}
    // ul.exhibit-section-nav {margin-bottom:10px;font-size:1.3em;line-height:1em;float:left;}
    // .exhibit-section-nav li {padding:.5em 0 .5em .5em;float:left;}
    // .exhibit-section-nav a {color:#686C42;}
    // .exhibit-section-nav a:hover {color:#868D4A;text-decoration:none;}
    // .exhibit-section-nav li.current a,
    // .exhibit-section-nav a.current {font-weight:bold;}

    
    
    .exhibit-page-nav, .exhibit-child-nav {width:100%;margin-bottom:10px;font-size:1.3em;line-height:1em;float:left;}
    .exhibit-page-nav, .exhibit-child-nav li {float:left;}
    .exhibit-page-nav, .exhibit-child-nav a {color:#686C42;}
    .exhibit-page-nav, .exhibit-child-nav a:hover {color:#868D4A;text-decoration:none;}
    .exhibit-page-nav, .exhibit-child-nav li.current a {font-weight:bold;}
    .exhibit-page-nav, .exhibit-child-nav a.current {font-weight:bold;}

    .exhibit-text ul, ol {list-style: disc; margin: 1em 4em; padding:0; }

    #exhibit-pages ul {margin:0}

    #exhibit-pages {border-bottom:1px #d3d6bc solid;margin-bottom:1em}

     .exhibit-page-nav {
            & > li {
                display: block;
                float: none;
                overflow: auto;
                margin-right: 0;
                
                &:first-of-type {
                    font-size:1.6em;
                    font-weight:bold;
                    padding:.5em 0;
                }
                
                ul {
                    padding-left: 0;
                    
                    li { 
                        display: inline-block; 
                        padding:0 .5em;
                        border-left:1px solid #686C42;
                        width: auto;

                    &:first-of-type {
                        border:none;
                        padding-left:0;
                    }
                    }
                }
            }
        }

        .exhibit-child-nav li { 
                        display: inline-block; 
                        padding:0 .5em;
                        border-left:1px solid #686C42;
                        width: auto;

                        &:first-of-type {
                        border:none;
                        padding-left:0;
                    }
                           }

    /* Collections Pages */    
    #collection-description {}

/* == Footer == */
#footer {
    // @include box-sizing(border-box);
    width:800px/968px * 100%;
    margin:auto;
    clear:both;
    border:2px solid #FFF;
    background:#686C42;
    overflow:hidden;
    padding:10px 0;
    padding-left:15px/800px * 100%;
    padding-right:15px/800px * 100%;
}
#footer li {display:inline;}
#footer .navigation li {margin-right:.5em}
#footer a {color:#D5D2B8;}
#footer p {color:#D5D2B8;}