/* == Generic == */
* {
    @include box-sizing(border-box);
}

body {
    font: $base-font-size Verdana, Arial, sans-serif; 
    line-height: $base-line-height;
    color:#222; 
    background-color:#D5D2B8;
}

#wrap {
    border-top: rhythm(2) solid $olive;
}

    /* -- Headings -- */
    #site-title {
        width: 100%;
        color: #fafafa;
        text-align: center;
        padding: rhythm(1, 2 * $base-font-size) 0;
        padding-left: $gutter-width;
        
        a {
            color: #fafafa;
            text-decoration: none;
            font-size: 2 * $base-font-size;
            line-height: 2 * $base-line-height;
        }
    }
    
    h1, h2, h3, h4 {
        margin: 0;
    }

    h1 {
        font-size: 2.25 * $base-font-size;
        line-height: 2 * $base-line-height;
        color: #868D4A;
        @include trailer(1, 2.25 * $base-font-size);
        font-weight: normal;
        word-wrap: break-word;
    }

    h2 {
        font-size: 1.75 * $base-font-size;
        line-height: 2 * $base-line-height;
        font-weight: normal;
        @include trailer(1, 1.75 * $base-font-size);
    }

    h3 {
        font-size: 1.5 * $base-font-size;
        @include trailer(1, 1.5 * $base-font-size);
    }
    
    p, ul, ol, dl {
        margin: rhythm(1) 0;
    }

    i, em {
        font-style:italic;
    }
    
    b, strong {
        font-weight:bold;
    }

    /* -- Links -- */
    a {
        color:#868D4A;
        text-decoration:none;
    }

    a:hover {
        text-decoration:underline;
    }
    
    /* -- Form Elements -- */
    
    input,
    textarea,
    button {
        font-family: "Verdana", "Arial", sans-serif;
        font-size: $base-font-size;
        line-height: $base-line-height;
        padding: 0 5px;
        border: 0;
        min-height: rhythm(1.5);
    }
    
    input[type="submit"],
    .button,
    button {
        background-color: $olive;
        color: #fff;
        @include appearance(none);
        line-height: rhythm(1.5);
    }
    
    input[type="text"],
    input[type="password"],
    textarea {
        border: 1px solid $sand;
    }
    
    input[type="radio"] {
        margin-right: 3px;
    }
    
    fieldset {
        border: 0;
        margin: 0;
    }
    
    select {
        vertical-align: top;
        display: inline-block;
        height: 1.5 * $base-line-height;
        line-height: 1.5 * $base-line-height;
        font-size: $base-font-size;
        border: 1px solid $sand;
    }
    
    /* -- Table -- */
    
    table {
        margin: rhythm() auto;
    }
    
    tr:first-of-type > * {
        border-color: $sand;
        @include leading-border(1px, .5, $base-font-size, solid);
    }
    
    th,td {
        border-color: $sand;
        border-left: 1px solid $sand;
        padding: rhythm(.5);
        @include trailing-border(1px, .5, $base-font-size, solid);
        
        &:last-of-type {
            border-right: 1px solid $sand;
        }
    }
    
    th {
        background-color: $sand;
    }

    /* -- Misc Classes */
    
    caption {
        font-style: italic;
    }

    .exhibit-thumbnail {float:left;padding:0 10px 0 0;}
    .odd .exhibit-thumbnail {float:left;padding:0 10px 0 0;}
    .even .exhibit-thumbnail {float:right;padding:0 0px 0 10px;}
    
    .image img {
        height: rhythm(3.5);
        width: auto;
        float: left;
        border: 1px solid rgba(0,0,0,.2);
        margin: 0 rhythm(.5) rhythm(.5) 0;
    }
    
    .collection .image img,
    .exhibit .image img {
        @include box-shadow(-3px -3px 0 rgba(0,0,0,.2), -6px -6px 0 rgba(0,0,0,.1));
        margin-left: 6px;
    }

    /* Navigation Classes*/
    ul.navigation, 
    ul.pagination, 
    #sort-links ul, 
    #sort-links span {
        padding: 0;
        list-style-type: none;
    }
    
    /* Pagination Classes */

    ul.pagination {
        overflow: hidden;
        clear:both;
    }
    
    .pagination li {
        display: block;
        float: left;
        
        &:last-of-type {
            border-right: 1px solid $sand;
        }
    }
    
    .page-input,
    .pagination_next a,
    .pagination_previous a {
        display: block;
        height: rhythm(2.5);
    }
    
    .pagination_next a,
    .pagination_previous a {
        background-color: $sand;
        text-decoration: none;
        text-indent: -9999px;
        position: relative;
        width: rhythm(2.5);
        
        &:after {
            font-family: "FontAwesome";
            text-indent: 0;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: rhythm(2.5);
            text-align: center;
            line-height: rhythm(2.75);
        }
            
    }
    
    .pagination_next a:after {
        content: "\f054";
    }

    .pagination_previous a:after {
        content: "\f053";
    }
    
    .page-input {
        border: 1px solid $sand;
        
        input[type=text] {
            width: 3em;
        }
    }

    #sort-links {
        border-color: $sand;
        @include trailing-border(1px, 0, $base-font-size, solid);
        @include trailer();
        
        span, ul, li, a {
            display: block;
            float: left;
            margin: 0;
        }
        
        span, a {
            margin-right: 1em;
            padding: rhythm(.5) 0;
        }
    }

    .asc a:after,
    .desc a:after {
        font-family: "FontAwesome";
    }
    
    .asc a:after {
        content: "\20\f0d8";
    }
    
    .desc a:after {
        content: "\20\f0d7";
    }

        
    .current,
    .active {
        font-weight: bold;
    }
    
    #outputs {
        clear: both;
    }

        /* Items Classes*/
        .item,
        .collection,
        .exhibit {
            border-color: $sand;
            @include trailing-border(1px, 1, $base-font-size, solid);
            @include trailer();
            overflow: hidden;
            
            p:last-child {
                @include trailer(0);
            }
            
            & + .pagination-nav {
                @include leader(-.5);
            }
        }
        
        .items.show .element {
            @include trailer(2);
        }
    
        .item img, 
        .item-img,
        .item-file img {
            float:left;
            margin: 0 rhythm(.5) rhythm(.5) 0;
            border: 1px solid rgba(0,0,0,.2);
            overflow: hidden;
        }
        
        .item img {
            height: rhythm(3.5);
        }
        
        #itemfiles .item-file img {
            height: rhythm(6);
        }
        
        .files .item-file img {
            max-width: 100%;
            margin-right: 0;
        }
        
        .item-img img {
            margin: 0;
            border: 0;
        }
    
        .title-list {clear:both;}

        /* Tag Clouds */
        .hTagcloud ul {
            padding: 0;
            margin: rhythm() 0;
            overflow: visible;
        }
        
        .hTagcloud li {
            display:inline;
            margin-right: 1em;
            
            a {
                display: inline-block;
                background-color: $sand;
                padding: rhythm(.5);
            }
        }

        .popular a {font-size:120%;}
        .v-popular a {font-size:140%;}
        .vv-popular a {font-size:180%;}
        .vvv-popular a {font-size:220%;}
        .vvvv-popular a {font-size:260%;}
        .vvvvv-popular a {font-size:300%;}
        .vvvvvv-popular a {font-size:320%;}
        .vvvvvvv-popular a {font-size:340%;}
        .vvvvvvvv-popular a {font-size:360%;}

/* == Header == */
#header {
    border-color: #fff;
    @include horizontal-borders(2px, 0, $base-font-size, solid);
    background:#444;
}

#header .center-div {
    background-color:#333;
    border-color: #fff;
    @include apply-side-rhythm-border('left', 2px, 0, $base-font-size, solid);
    @include apply-side-rhythm-border('right', 2px, 0, $base-font-size, solid);

    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

#search-container,
#search-form {
    width:100%;
    clear:both;
    position: relative;
}

#search-container {
    padding: 0 $gutter-width rhythm();
}

#search-form {
    
    input[type="text"] {
        border-color: #fff;
    }
    
    #advanced-search,
    button {
        display: block;
        width: rhythm(1.5);
        position: absolute;
        height: rhythm(1.5);
        top: 0;
        right: 0;
        bottom: 0;
        text-indent: -9999px;
        
        &:after {
            font-family: "FontAwesome";
            text-indent: 0;
            position: absolute;
            width: rhythm(1.5);
            height: rhythm(1.5);
            left: 0;
            top: 0;
            bottom: 0;
            text-align: center;
        }
    }
    
    &.with-advanced button {
        right: rhythm(1.5);
    }
}

#query {
    width: 100%;
    padding-right: rhythm(1.5);
    height: rhythm(1.5);
}

#advanced-search:after {
    content: "\2026";
    border-left: 1px solid rgba(0,0,0,.2);
}

#search-form button:after {
    content: "\f002";
}

#advanced-form {
    clear:both;
    background-color: #fff;
    overflow: auto;
    z-index: 1001;
    position: absolute;
    left: 0;
    border: 1px solid #e7e7e7;
    margin: 0;
    width: 100%;
    text-align: left;
    
    #query-types *:first-child {
        margin-top: 0;
    }
    
    label {
        margin: 0;
        padding: 0;
    }
    
    p {
        margin: rhythm(.5) 0;
        
        &:last-of-type { @include trailer(0); }
    }
}

/* == Content == */

    ul h3 {font-size:1.6em;}

    .tags {margin-top:3px;}

    #backlink {float:right;font-size:1.5em;display:block;padding-right:8px;}

    /* Structure */
    #content {
        background:#fff;
        padding: rhythm() $gutter-width;
        overflow:hidden;
        @include pie-clearfix();

        & > div, nav {
            @include pie-clearfix();
        }
    }
    .center-div {
        @include container;
        margin: 0 $gutter-width;
    }
    
    /* General */
    #login-status {float:right;color:#D5D2B8;padding:10px .55em 0 0;}

    /* Navigation */
    #primary-nav {
        clear:both;
        @include pie-clearfix;
        overflow: hidden;
        border-color: #fff;
        padding: rhythm() $gutter-width;
        @include trailing-border(2px, 0, $base-font-size, solid);
        
        ul {
            display:none
        }
        select {
            width: 100%;
            display:block;
        }
    }

    .secondary-nav,
    #secondary-nav {
        border-color: $sand;
        @include trailing-border(1px, .5, $base-font-size, solid);
        width:100%;
        margin: rhythm(-.5) 0 rhythm(.5);
        overflow: hidden;
        
        li {
            display: block;
            float: left;
            margin-right: 1em;
        }
        
        a {
            color:#686C42;
        }

        a:hover {
            color:#868D4A;
            text-decoration:none;
        }
    }

    /* Home Page */

    .featured,
    #featured-exhibit {
        border-color: $sand;
        @include trailing-border(1px, 1, $base-font-size, solid);
        @include trailer();
        
        *:last-child {
            @include trailer(0);
        }
    }
    
    .featured .record,
    #featured-exhibit .exhibit {
        @include trailing-border(0px, 0, $base-font-size, solid);
        padding: 0;
        overflow: visible;
    }

    #recent-items {
        border:none;
        background-color: $sand;
        padding: rhythm(1) gutter();
        
        .item, .item img {
            border-color: $olive;
        }
    }

    #intro {
        width:100%;
        padding:10px 0;
    }

    /* Advanced Search */

    #advanced-search-form {
        padding: rhythm() 0;
    }

    #submit_search_advanced {
        clear: both;
        float: left;
    }
    .no-results {margin:10px;}

    /* Search Results */
    #item-filters,
    #search-filters {
        border-color: $sand;
        @include trailing-border(1px, .5, $base-font-size, solid);

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        
        li {
            display: inline-block;
            background-color: $sand;
            padding: rhythm(.25);
        }
        
        ul ul {
            display: inline;
        }
        
        ul ul li {
            padding: 0;
        }
    }
    
    .search-entry select {
        width: 28%;
        margin-right: 1%;
    }
    
    .search-entry input {
        vertical-align: top;
    }
    
    .remove_search {
        text-indent: -9999px;
        width: 1.5 * $base-line-height;
        position: relative;
        height: $base-line-height;
        
        &:after {
            content: "\f00d";
            font-family: "FontAwesome";
            text-indent: 0;
            text-align: center;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            line-height: 1.5 * $base-line-height;
        }
    }
    
    #search-results {
        width: 100%;
        
        th {
            text-align: left;
        }
        
        th, td {
            border-left-color: transparent;
            border-right-color: transparent;
            vertical-align: top;
        }
        
        .image {
            float: left;
        }
        
        .image img {
            height: rhythm(4);
            width: auto;
            margin: 0 rhythm(.5) 0 0;
        }
    }

    /* Exhibits Pages */

    #exhibit-pages {
        @include span-columns(3 alpha);
        overflow: hidden;
        
        & ~ * {
            @include span-columns(9 omega);
            clear: right;
        }
        
        ul ul,
        .child-pages {
            margin: 0;
            overflow: hidden;
            padding:0 0 0 gutter(2);
            border-left:1px solid #686C42;
        }
        
        .current ul {
            font-weight: normal;
        }
        
        li {
            list-style-type: none;
            float: none;
        }
    }

    #exhibit-pages > ul {
        background-color: lighten($sand, 15%);
        margin: 0;
        overflow: hidden;
        border-color: $olive;
        padding: 0 gutter(4);
        @include leading-border(5px, 1, $base-font-size, solid);
        @include trailing-border(1px, 1, $base-font-size, solid);
    }
    
    /* Collections Pages */    
    
    .show.collections .element {
        @include trailer();
    }
    
    .browse.collections .element {
        clear: none;
    }

/* == Footer == */
#footer {
    margin: 0 gutter();
    clear:both;
    border-color: #fff;
    @include rhythm-borders(2px, .25, $base-font-size, solid);
    background-color: $olive;
    overflow:hidden;
    padding: 0 gutter();
}
#footer li {display:inline;}
#footer .navigation li {margin-right:.5em}
#footer a {color:#D5D2B8;}
#footer p {color:#D5D2B8;}

/* == Recaptcha == */

#recaptcha_area input {
    min-height: 0;
}