#site-title {
    width:50%;
    float: left;
    text-align: left;
}

div#search-container {
    @include span-columns(3 omega, 12);
    clear: none;
    @include leader(1.25);
}

.center-div {
    margin: 0 gutter(2);
}

#header .center-div {
    position: relative;
    @include padding-leader(2);
}

#primary-nav {
    ul {
        margin:0;
        display:block;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        border-color: #fff;
        @include trailing-border(2px, 0, $base-font-size, solid);
        background-color: #000;
    }

    li {
        display:block;
        float:left;
        position:relative;

        a {
            color:#868D4A;
            display:block;
            float:left;
            padding:10px;
        }

        &:hover {
            background-color:rgba(255,255,255,.15);
            & > ul { display: block; }
            }

        ul {
            min-width: 200px;
            display: none;
            padding: 0;
            position: absolute;
            top: -2px;
            left: 0px;
            margin-top:40px;
            background: lighten(#000000, 15%);
            
            li {
                width: 100%;
                clear: both;
                
                @include box-sizing(border-box);
                
                ul {
                position: absolute;
                left: 100%;
                margin-top: 0;
                }
            }
          }
    }
    .mobile {
        display:none;
    }
}

#footer {
    margin: 0 gutter(2);
}

#home #content {
    & > div {
        @include span-columns(8 omega, 12);
    }

    #recent-items {
        float:left;
        overflow:hidden;
        padding:.5em 0;
        @include span-columns(4 alpha, 12, 1em);
        background:#D3D6BD;
    }
}

.pagination {
    margin: 0 0 rhythm(.5);
}

/*Search Results */

#footer {
    min-height:30px;
}

#featured-item,
#featured-exhibit,
#featured-collection {
    @include span-columns(8 omega, 12);
    clear: right;
}

#recent-items {
    width: columns(4);
}

#intro {width:800px/968px * 100%;}

/* Advanced Search */
.field {
    @include span-columns(8 alpha);
    @include trailer();

    label,
    .label {
        @include span-columns(2 alpha, 8);
        @include trailer();
    }
    
    .inputs {
        @include span-columns(6 omega, 8);
        vertical-align: top;
        
        *:only-child {
            width: 100%;
        }
    }
}

.search-entry {
    @include trailer();
}

.pagination-nav {
    float: left;
}

#sort-links {
    text-align: right;

    span, ul {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    
    span, a {
        padding: rhythm(.75) 0;
        margin: 0 0 0 1em;
    }
}
/* Items */

.item-description {clear:none}
